Importing Pandas

In [1]:
import pandas as pd

Creating a DataFrame

In [2]:
data = {"Name": ["John", "Daniel", "Harry"], 
        "Age": [20, 25, 30],
        "City": ["New York", "Paris", "Scotland"]}
df = pd.DataFrame(data)
print(df)

     Name  Age      City
0    John   20  New York
1  Daniel   25     Paris
2   Harry   30  Scotland

DataFrame Operations

Head

In [3]:
print(df.head)

<bound method NDFrame.head of      Name  Age      City
0    John   20  New York
1  Daniel   25     Paris
2   Harry   30  Scotland>

Tail

In [4]:
print(df.tail)

<bound method NDFrame.tail of      Name  Age      City
0    John   20  New York
1  Daniel   25     Paris
2   Harry   30  Scotland>

Describe

In [5]:
print(df.describe())

        Age
count   3.0
mean   25.0
std     5.0
min    20.0
25%    22.5
50%    25.0
75%    27.5
max    30.0

Selecting Data

Column Selection

In [6]:
print(df["Name"])

0      John
1    Daniel
2     Harry
Name: Name, dtype: object

Row Selection

In [7]:
print(df.iloc[0])

Name        John
Age           20
City    New York
Name: 0, dtype: object

Filtering Data

In [8]:
filtered = df[df["Age"] > 20]
print(filtered)

     Name  Age      City
1  Daniel   25     Paris
2   Harry   30  Scotland

Adding Column

In [9]:
df["Salary"] = [50000, 67000, 70000]
print(df)

     Name  Age      City  Salary
0    John   20  New York   50000
1  Daniel   25     Paris   67000
2   Harry   30  Scotland   70000

Removing Column

In [10]:
df = df.drop("City", axis = 1)
print(df)

     Name  Age  Salary
0    John   20   50000
1  Daniel   25   67000
2   Harry   30   70000